<li> 
	<%= link_to badge.title, badge %>
	<% if admin_signed_in? %>
	| <%= link_to "edit", edit_badge_path(badge) %>
	| <%= link_to "delete", badge, :method => :delete, :confirm => "Are you sure?", 
						:title => "Delete #{badge.title}" %>	
	<% end %>
</li>