<h1>Admin Page</h1>
<p>
	This page is for site administration.
</p>
<div>
	<ul>
		<% if !admin_signed_in? %>
		<li> <%= link_to "Reg Admin", regadmin_path, :class => "signup_button round" %></li>
		<% else %>
		<li> <%= link_to "Users", users_path, :class => "signup_button round" %></li>	
		<li> <%= link_to "Admins", admins_path, :class => "signup_button round" %></li>
		<% end %>
	</ul>
</div>