<h1>Badge App</h1>
<p>
	This is the home page for the sample Badge app.
</p>
<div>
<ul>
<li> <%= link_to "Register", register_path, :class => "signup_button round" %> </li>
<li> <%= link_to "Reg Admin", regadmin_path, :class => "signup_button round" %> </li>
</ul>
</div>
