<h1>Badge App</h1>
<p>
	This is the home page for the sample Badge app.
</p>
<div>
<ul>
<% if !user_signed_in? %>
<li> <%= link_to "Register", register_path, :class => "signup_button round" %> </li>
<% else %>
<li> <%= link_to "Users", users_path, :class => "signup_button round" %> </li>
<li> <%= link_to "Badges", badges_path, :class => "signup_button round" %> </li>
<% end %>
</ul>
</div>
